@import "tailwindcss";

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply m-0 bg-slate-50 text-slate-900 antialiased;
  }

  .dark body {
    @apply bg-slate-950 text-slate-50;
  }
}
